@mixin basic-gradient($start, $finish)
  background: -moz-linear-gradient(top, $start 0%, $finish 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start), color-stop(100%, $finish))
  background: -webkit-linear-gradient(top, $start 0%, $finish 100%)
  background: -o-linear-gradient(top, $start 0%, $finish 100%)
  background: -ms-linear-gradient(top, $start 0%, $finish 100%)
  background: linear-gradient(top, $start 0%, $finish 100%)

html, body
  overflow: hidden
  height: 100%
body
  font: 12px 'lucida grande', arial, helvetica, sans-serif
  background: #bcbcbc
  color: #666

ol, ul
  margin: 0
  padding: 0
  list-style: none

a
  color: inherit
  text-decoration: none

fieldset
  margin: 0
  padding: 0
  border: 0
  li
    overflow: hidden
    padding: 3px
label
  float: left
  width: 150px
  line-height: 18px
.input
  float: left
  line-height: 18px

.buttons
  overflow: hidden
  padding: 15px 10px
  li
    float: left
    margin: 0 0 0 10px
    &:first-child
      margin-left: 0

.button
  display: block
  height: 22px
  padding: 0 8px
  border: 1px solid rgba(0, 0, 0, .3)
  border-radius: 3px
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0, inset #fff 0 1px 0
  @include basic-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .1))
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffffff', endColorstr='#1affffff', GradientType=0)
  font-size: 12px
  line-height: 22px
  text-shadow: rgba(255, 255, 255, .75) 0 1px 0

#wrapper
  width: 100%
  height: 100%

header, footer
  height: 52px
  background: #f2f2f2
  @include basic-gradient(#f2f2f2, #d1d1d1)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#d1d1d1', GradientType=0)

header
  box-shadow: rgba(0, 0, 0, .2) 0 1px 1px
  border-bottom: 1px solid rgba(0, 0, 0, .4)

footer
  position: absolute
  bottom: 0
  width: 100%
  box-shadow: rgba(0, 0, 0, .2) 0 -1px 1px
  border-top: 1px solid rgba(0, 0, 0, .4)

.region
  height: 100%
  &.tl
    float: left
  &.tr
    float: right
  &.bl
    float: left
  &.br
    float: right

#body
  overflow: hidden
  position: absolute
  top: 53px
  bottom: 53px
  left: 0
  width: 100%

section
  overflow: hidden
  position: absolute
  top: 40px
  left: 0
  z-index: 1
.inner
  position: absolute
  top: 10px
  right: 10px
  bottom: 10px
  left: 10px
.frame
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  border: 1px solid #9b9b9b
  background: #fff
  box-shadow: inset 0px 1px 0 #dedede
  font: 12px 'bitstream vera sans mono', monospace
  &.focus
    border: 1px solid red
  textarea
    resize: none
    margin: 0
    padding: 4px
    border: 0
    box-sizing: border-box
    font: inherit
    background: transparent
    &:focus
      outline: none
  iframe
    width: 100%
    height: 100%
    border: 0

.handle
  position: absolute
  z-index: 3
  width: 10px
  height: 10px
  background: rgba(0, 0, 0, .1)
  cursor: move
  &.vert
    background: rgba(255, 0, 0, .3)
    background: url(../img/handle-vert.png) no-repeat center
    cursor: ew-resize
  &.horz
    background: rgba(0, 0, 255, .3)
    background: url(../img/handle-horz.png) no-repeat center
    cursor: ns-resize

.layout-0
  #panel0 .inner
    right: 5px
    bottom: 5px
  #panel1 .inner
    top: 5px
    right: 5px
  #panel2 .inner
    right: 5px
    left: 5px
  #panel3 .inner
    left: 5px

.popover
  position: absolute
  z-index: 2
  margin: 8px 0 0
  border: 1px solid rgba(0, 0, 0, .2)
  border-radius: 6px
  box-shadow: rgba(0, 0, 0, .3) 0 2px 5px
  background: #eee
  .popover-arrow
    position: absolute
    top: -11px
    left: 10px
    display: none
    width: 20px
    height: 10px
    border: 1px solid rgba(0, 0, 0, 1)
    border-bottom: 0
    background: #eee
  .popover-content
    margin: 12px

/**
 * Codemirror overrides
 */

// Light theme
.cm-s-bounce-light
  span.cm-keyword
    color: #708
  span.cm-atom
    color: #219
  span.cm-number
    color: #164
  span.cm-def
    color: #00f
  span.cm-variable
    color: black
  span.cm-variable-2
    color: #05a
  span.cm-variable-3
    color: #085
  span.cm-property
    color: black
  span.cm-operator
    color: black
  span.cm-comment
    color: #a50
  span.cm-string
    color: #a11
  span.cm-string-2
    color: #f50
  span.cm-meta
    color: #555
  span.cm-error
    color: #f00
  span.cm-qualifier
    color: #555
  span.cm-builtin
    color: #30a
  span.cm-bracket
    color: #cc7
  span.cm-tag
    color: #170
  span.cm-attribute
    color: #00c
  span.cm-header
    color: #a0a
  span.cm-quote
    color: #090
  span.cm-hr
    color: #999
  span.cm-link
    color: #00c
