!!!
%html{:lang=>'en'}
  %head
    %meta{:charset=>'utf-8'}
    %title Tinker &mdash; Social Code Collaboration
    %link{:rel=>'stylesheet', :href=>'/css/normalize.css'}
    %link{:rel=>'stylesheet', :href=>'/css/codemirror.css'}
    %link{:rel=>'stylesheet', :href=>'/tinker.embed.css'}
    %link{:rel=>'icon', :type=>'image/png', :href=>'/favicon.png'}
  %body
    %script{:type=>'tinker'}= tinker.to_json
    %script{:type=>'urls'}= urls.to_json
    - if environment == 'development'
      %script{:src=>'/mootools.js'}
      %script{:src=>'/mootools-more.js'}
      %script{:src=>'/mootools-base64.js'}
      %script{:src=>'/codemirror.js'}
      %script{:src=>'/mode-xml.js'}
      %script{:src=>'/mode-css.js'}
      %script{:src=>'/mode-javascript.js'}
      %script{:src=>'/extras.js'}
      %script{:src=>'/tinker.embed.js'}
    - else
      %script{:src=>'/tinker.embed.min.js'}
    %script Tinker.init({theme: 'light'});
    - if ga_code != ''
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{ga_code}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

