!!!
%html{:lang=>'en'}
  %head
    %meta{:charset=>'utf-8'}
    %title Tinker &mdash; Sandbox
    %style= css
    - scripts.each do |script|
      %script{:src => script}
  %body
    = html
    %script= js

